@model Jogador

@{
    ViewData["Title"] = "Jogador";
}

<h1>Tela de Jogadores</h1>

<form method="post" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
    <div>
        <label for="">Nome</label>
        <input type="text" name="Nome" required>
    </div>

    <div>
        <label for="">Email</label>
        <input type="text" name="Email" required>
    </div>

    <div>
        <label for="">Senha</label>
        <input type="password" name="Senha" required>
    </div>

    <label for="">Equipe</label>
    <select name="Equipe" id="">
        @foreach (Equipe equipe in ViewBag.Equipe)
        {
            <option>@equipe.Nome</option>
        }
    </select>

    <button type="submit" value="Upload">Cadastrar</button>
</form>

<table class="table table-striped table-responsive">
    <thead>
        <th>Nome</th>
        <th>Email</th>
        <th>Equipe</th>
        <th>Imagem</th>
        <th>Editar</th>
        <th>Excluir</th>
    </thead>

    <tbody>
        @foreach (Jogador jogador in ViewBag.Jogador)
        {
            <tr>
                <td>@jogador.Nome</td>
                <td>@jogador.Email</td>
                <td>@jogador.Equipe.Nome</td>
                <td> <img src="/img/Equipes/@jogador.Equipe.Imagem" width="50px" height="50px" alt=""></td>
            </tr>
        }
    </tbody>
</table>

